.button{
    background: rgb(71, 133, 191);
    border: none;
    outline: none;
    padding: 10px 20px;
    font-weight: 600;
    color: #d1e3e1;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button:hover{
    color: #000;
    background: #fff;
}