.cart{
    background: rgb(28,28,28);
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
}

.image{
    height: 200px;
    width: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 217px);
    gap: 10px;
    height: 280px;
    overflow: scroll;
    justify-content: center;
}
.item{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(59, 59, 59);
    padding: 10px;
    border-radius: 10px;
}

h3,h4{
    margin: 0;
}

.title{
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    font-size: 15px;
    font-weight: 200;
    padding: 10px 0;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top:25px;
    margin-left: 10px;
}

.top{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top:15px;
    left: 0;
}
.count{
    color: #000;
    display: flex;
    font-size: 20px;
    background: rgba(71, 133, 191, 0.956);
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 15px;
}

.count span{
    padding: 10px;
}

.carttitle{
    margin-left: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.trash{
    font-size: 30px;
    color: rgb(22, 42, 61);
    margin-right: 15px;
    transition: .2s;
    cursor: pointer;
}

.trash:hover{
    color: rgb(71, 133, 191);
}

@media (max-width: 504px){
    .list{
        min-height: 30vh;
        height: 60vh;
    }


}