.footer{
    display: flex;
    align-items: center;
    background: rgb(28, 28, 28);
    padding: 15px 30px;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: auto;
}

.logo{
    font-size: 13px;
}

.rights{
    font-size: 13px;
    color: gray;
}

.rights a{
    color: rgb(102, 150, 209);
}

.socials{
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 30px;
}

.socials a{
    color: rgb(190, 190, 190);
    transition: .1s;
}

.socials a:hover{
    color: #fff;
}