.home {
  background: rgb(28, 28, 28);
  padding: 20px 30px;
  border-radius: 5px;
}


.title{
    font-weight: 900;
    font-size: 90px;
    line-height: 100px;
    padding: 25px 0;
    text-transform: uppercase;
    background: linear-gradient(to right, #A7CFDF 0%, #23538A 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product{
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 60%;
}

.text{
    opacity: 0;
    animation: slideIn2 1s ease forwards;
    animation-delay: .2s;
}

.subtitle{
    line-height: 20px;
    text-transform: uppercase;
    color:rgb(160, 204, 242);
}

.head{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 500px;
    margin: 10px 0 24px 0 ;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
}

.image img{
    height: auto;
    max-width: 80%;
    object-fit: contain;
    -webkit-filter: drop-shadow(-5px 5px 10px #00000098);
    filter: drop-shadow(-5px 5px 10px #00000098);
    animation: slideIn 1s ease forwards;
}


.banner{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
  background: rgb(28,28,28);
  border-radius: 10px;
  overflow: hidden;
}

.right{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.discount{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  background-color: rgb(230, 87, 140);
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}


.right span{
  color: rgb(11, 19, 69);  
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.left p{
  color: rgb(230, 87, 140);
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: 100;
  line-height: 80px;
  margin: 30px 0;
}

.content span{

  font-size: 150px;
  line-height: 150px;
  margin-top: 20px;
  color: #fff;
}


@keyframes slideIn {
    from {
      transform: translateX(-150%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideIn2 {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (max-width:1024px) {
    .banner{
      grid-template-columns: 1fr;
      position: relative;
    }

    .right{
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: .7;
      z-index: 1;
      align-items: end;
    }

    .discount{
      margin: 0 20px;
    }

    .left{
      z-index: 10;
    }

    .left p{
      color: #fff;
    }
    
  }