.signup{
    position: fixed;
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.overlay{
    background: rgb(40,40,40);
    opacity: .7;
}

.wrapper{
    background: rgb(28, 28, 28);
    box-shadow: -5px 0 20px #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
    align-items: center;
    
}
.group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.group input{
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    background: rgb(40,40,40);
    caret-color: #fff;
    color: #fff;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
}
.title{
    font-size: 20px;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}


.link:hover{
    color:#fff
}

.log{
    background: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.top{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ok{
    font-size: 20px;
}

@media (max-width: 1024px){
    .signup{
        grid-template-columns: 1fr 1fr;
    }
}